:root {
    --clr-primary: #077;
    --clr-white: #bbb;
    --clr-black: #1c1c1c;

    --ff-primary: Roboto, sans-serif;
    --ff-secondary: Futura, serif;
}

::-webkit-scrollbar {display: none}

body {
    background: #000;
    display: flex;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    color: var(--clr-white);
    font-family: var(--ff-secondary);
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    gap: 0.1rem;
    z-index: 2;

    @media (min-width: 65rem) {
        display: none;
    }

    >button {
        flex: 1;
        border: none;
        background: #5555;
        font-size: 1.2rem;
    }
}

main {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    height: 100vh;
}

.page {
    display: none;
    width: 20rem;
    background: var(--clr-black);
    position: relative;

    >h1 {
        font-size: 2.5rem;
        font-family: var(--ff-secondary);
        text-align: center;
    }

    &[data-selected="true"] {
        display: flex;
        flex-direction: column;
    }

    @media (min-width: 65rem) {
        display: flex;
        flex-direction: column;
    }
}

.page > h1 {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding-bottom: 1.1rem;
    background: linear-gradient(var(--clr-black), color-mix(in oklab, var(--clr-black) 80%, #0000) 80%, #0000);
    backdrop-filter: blur(0.05rem);
}

#reminder-controls,
#homework-controls,
#link-controls {
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;
    margin-inline: 0.5rem;
    
    >button {
        border: none;
        border-radius: 0.5em;
        background: #555f;
        color: var(--clr-primary);
        font-size: 1.1rem;
        cursor: pointer;
        font-weight: bolder;
        cursor: pointer;
        flex-grow: 1;
        transition: 200ms;

        &[data-selected="true"] {
            color: #0007;

            &#add-reminder,
            &#add-homework,
            &#add-link {
                background: #0f0;
            }

            &#edit-reminder,
            &#edit-homework,
            &#edit-link {
                background: #ff0;
            }

            &#remove-reminder,
            &#remove-homework,
            &#remove-link {
                background: #f00;
            }
        }
    }
}

.reminder {
    >h1,
    >h1 span {
        font-size: 0.9rem;
        color: var(--clr-primary);
        font-weight: bolder;
        padding-block: 0.1rem;
    }

    >p {
        font-family: var(--ff-secondary);
    }

    :first-child {
        white-space: nowrap;
    }
}

.homework,
.reminder,
.link {
    display: block;
    font-size: 1.3rem;
    padding: 0.3rem;
    max-width: 100%;
    hyphens: auto;
    overflow-wrap: break-word;
    transition: 250ms;
    position: relative;

    &:not(h2.link) {
        border-left: 0.2rem solid var(--clr-primary);
    }

    &:not(:first-child):not(.link) {
        box-shadow: inset 0 0.15rem #fff1;
    }

    &[draggable="true"] {
        cursor: grab;
    }

    &:has([contenteditable="true"]),
    &[contenteditable="true"],
    &.link[draggable="true"] {
        --clr-primary: #ff0;
        background: color-mix(in oklab, var(--clr-primary) 10%, #0000);

        >h1 span {
            display: none;
        }
    }

    &[data-deleting="true"] {
        --clr-primary: #f00;
        background: color-mix(in oklab, var(--clr-primary) 10%, #0000);
        cursor: pointer;
    }

    &.dragging {
        opacity: 0.1;
        cursor: grabbing !important;
    }

    :first-child {
        transform-origin: top;
        transform: scale(1);
        transition: 250ms;
    }

    .days-until-date {
        transform-origin: bottom;
        position: absolute;
        inset: 0.3rem;
        height: min-content;
        transform: scale(1, 0);
        transition: 250ms;
    }

    &.hovering {
        :first-child {
            transform: scale(1, 0);
        }
        .days-until-date {
            transform: scale(1);
        }
    }

    &.subheading {
        background: var(--clr-primary);
        font-size: 0.9rem;
        font-weight: bolder;
        box-shadow: none;
        border-radius: 0.5rem;

        p {
            color: var(--clr-white);
        }
        
        &:has(+.homework:not(.subheading)) {
            border-radius: 0.5rem 0.5rem 0.5rem 0;
        }
        
        &:not(:first-child) {
            margin-top: 0.3rem;
        }

        +.homework {
            box-shadow: none;
        }
    }
}

#links-container {
    :first-child {
        padding-top: 0;
    }
    
    >h2 {
        margin-left: 0.4rem;
        font-size: 1.7rem;
    }

    >a {
        font-size: 1.3rem;
        color: var(--clr-primary);
        text-decoration: none;
        display: block;
        margin-left: 1em;
        width: max-content;
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            background: var(--clr-primary);
            position: absolute;
            inset: calc(100% - 0.15em) 100% 0 -100%;
            opacity: 0;
            transition: 0ms 200ms,
            opacity 200ms;
        }
    }
}

#links-container > a:hover::after {
    opacity: 1;
    inset: calc(100% - 0.15em) 0 0 0;
    transition: 500ms ease-out;
}

#homework-adder,
#reminder-adder,
#link-adder {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 1;

    ::placeholder {
       color: #0005;
    }

    >div {
        background: #333c;
        backdrop-filter: blur(0.1rem);
        display: grid;
        pointer-events: all;
        padding: 2rem;
        border-radius: 2rem;
        gap: 1rem;
        justify-items: center;
        text-wrap: wrap;

        #add-reminder-content,
        #add-reminder-date,
        #add-homework-content,
        #add-link-title,
        #add-link-url {
            color: var(--clr-black);
            padding: 0.2rem 0.5rem;
            border: 0.2rem solid var(--clr-white);
            border-radius: 0.5rem;

            &[data-invalid-input='true'] {
                background: color-mix(in oklab, #f00 30%, #fff);
                color: #f00;
                border-color: #f00;
            }
        }

        >div {
            display: flex;
            gap: 0.3rem;
        }

        #subheading {
                width: 0.75rem;

            +label {
                font-size: 0.75rem;
            }
        }

        #add-reminder-confirm,
        #add-homework-confirm,
        #add-link-confirm {
            color: var(--clr-black);
            width: min-content;
            padding: 0.2rem 0.5rem;
            border-radius: 1em;
            border: solid #0005 0.2em;
            cursor: pointer;
            transition: 100ms;

            &:hover {
                background: #0f0;
            }
        }
    }
}

#reminders-container,
#homework-container,
#links-container {
    overflow-y: scroll;
    padding-top: 6rem;
}

#accent-color {
    position: absolute;
    inset: auto 0.5rem 0.5rem auto;
    width: 1.5rem;
    background: none;
    border: none;
}

.homework:has(+ .subheading):not.subheading):after,
.homework:last-of-type:not(.subheading):after {
    content: "";
    position: absolute;
    inset: 0 100% 0 -0.2rem;
    background: linear-gradient(to bottom, #0000 25%, var(--clr-black));
}

.link + h2.link {
    margin-top: 1rem !important;
}
